@model ContactoModel
@{
    ViewData["Title"] = "eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Contacto
    </div>
    <div class="card-body">
        <form asp-action="eliminar" asp-controller="Mantenedor" method="post">
            <input asp-for="IdContacto" type="hidden" class="form-control"/>
            <div class="alert alert-danger" role="alert">
                ¿Estas seguro de eliminar el contacto: @Html.DisplayTextFor(m=>m.Nombres)?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" asp-controller="Mantenedor" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
